/* .header {
  height: 40vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 131, 0.8)
  );
  background-size: cover;
  background-position: top;
  width: 100vw;
} */
